html {
  background-color: $global-background;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  font-size: calc(10px + 1vw);
}
body {
  box-sizing: border-box;
  color: #333;
}
em {
  font-weight: 400;
}
a {
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
  @media screen and (min-width: 1025px) {
    width: 80%;
  }
}

section {
  margin: 50px 0;
}

.section__header {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Thesadith', sans-serif;
  position: relative;
  display: inline-block;
  margin: 40px 0;
  &:after {
    content: '';
    display:block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    box-shadow: -5px 3px 0 1px #D9DADC;
  }
}
