.footer {
  background-image: linear-gradient($global-background,transparent),url("../images/sakura2bw.jpg");
  background-attachment: fixed;
  height: 150px;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  @media screen and (min-width: 1020px){
    height: 300px;
    background-image: linear-gradient($global-background 80%,transparent),url("../images/sakura2bw.jpg");
}
}
.footer-content {
  width: 90%;
  font-size: 0.8rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1020px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__link-to-top {
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 20px;
    &:before {
      content:'';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      width: 0;
      height:0;
      border: 15px solid transparent;
      border-bottom-color: $accent-color;
    }
  }
}